# **Laboratorium 1** - podstawy języka Python

Podczas pierwszych zajęć zostały przedstawione podstawy programowania w języku Python (między innymi składnia tego języka, instrukcje warunkowe, pętle). Poniżej znajduje się kod z laboratorium. Po zapoznaniu się z jego działaniem należało zrealizować podane przez prowadzącego zadania, ich rozwiązania widoczne są na dole notatnika.

In [3]:
# komentarz

# if

wielkosc = 5

print(wielkosc)

5

In [4]:
if wielkosc >6:
    print("ale duze")
elif wielkosc < 3:
    print("malutkie")
    print('franek')
else:
    print("w sam raz")

w sam raz

In [5]:
studenci = ["Ania", "Zosia", "Kasia", "Franek"]

print(studenci)

['Ania', 'Zosia', 'Kasia', 'Franek']

In [6]:
studenci[0][1]

'n'

In [7]:
for student in studenci:
    print("student ma na imie:", student)
    
for student in studenci:
    print(student)
    if student[0]=="A":
        print("student na poczatku alfabetu")

student ma na imie: Ania
student ma na imie: Zosia
student ma na imie: Kasia
student ma na imie: Franek
Ania
student na poczatku alfabetu
Zosia
Kasia
Franek

In [8]:
for numer, student in enumerate(studenci):
    print("student {} ma numer {}".format(student,numer))

student Ania ma numer 0
student Zosia ma numer 1
student Kasia ma numer 2
student Franek ma numer 3

In [9]:
oceny = [2,2,5,3]

for numer, student in enumerate(studenci):
    print("student {} ma numer {} i ocenę {}".format(student,numer,oceny[numer]))

print("--"*20)    
for number, (student, ocena) in enumerate(zip(studenci,oceny)):
    print("student {} ma numer {} i ocenę {}".format(student,number,ocena))

student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3
----------------------------------------
student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3

In [10]:
trzy_elementy= [1,2,3]
pierwszy,drugi,trzeci= trzy_elementy

In [11]:
n = 1

while(n < 10):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [12]:
def dodaj_dwa(liczba):
    return liczba+2

def dodaj_trzy(liczba):
    return liczba+3

def dodaj_dwie_liczby(liczba1,liczba2):
    return liczba1+liczba2


dodaj_cztery = lambda liczba:liczba+4

In [13]:
funkcje=[dodaj_dwa,dodaj_trzy,dodaj_cztery]

jakis_nr= 10

for funkcja in funkcje:
    print(funkcja(jakis_nr))

12
13
14

In [14]:
studenci[0]
studenci[1:]
studenci[:-1]

['Ania', 'Zosia', 'Kasia']

## Zadania do samodzielnej realizacji

###**Zadanie 1**

In [15]:
zajecia = ["wf","informatyka","relax","mispy","piateczek"]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

**Zadanie 1a** - wyprintuj zajęcia od środy do piątku

Została wykorzystana funkcja *print()* oraz pętla *while*. Indeksowanie w tablicy zaczyna się od 0, dlatego wyświetlane są jej wartości od elementu o indeksie 2, co odpowiada środzie.

In [16]:
licznik = 2
while licznik != 5:
    print("Zajęcia w " + dnityg[licznik] + " to "+ zajecia[licznik])
    licznik += 1

Zajęcia w Sro to relax
Zajęcia w Czwar to mispy
Zajęcia w Pio to piateczek

**Zadanie 1b** - wyprintuj zajęcia oprócz środy

Zostały wykorzystane pętla *for* oraz funkcje *print()* i *zip()*. Druga z nich służy do konsolidacji danych. Jako parametry przyjmuje ona funkcję oraz jedną lub więcej sekwencji. Następnie zwraca listę krotek, których poszczególne elementy pochodzą z poszczególnych sekwencji.

In [17]:
for zaj, dzien in zip(zajecia, dnityg):
  if dzien != "Sro":
    print("Zajęcia w " + dzien + " to " + zaj)

Zajęcia w Pon to wf
Zajęcia w Wto to informatyka
Zajęcia w Czwar to mispy
Zajęcia w Pio to piateczek

### Zadanie 2

Dane zadania.

In [18]:
zajecia = [["wf"],
           ["informatyka", "nauka czytania"],
           ["relax", "jedzenie"],
           ["mispy","mispy w domu"],
           ["piateczek", "praca domowa z mispow", "Ilovemispy", "mispy w czasie snu"]
          ]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

**Zadanie 2a**
*   Zdefiniuj funkcję, która poda ile jest zajęć danego dnia.
*   lista_zajec_z_dnia -> ile ich jest

Najpierw tworzony jest słownik, w którym każdy dzień z tablicy dnityg łączony jest z odpowiadającymi mu indeksem zajęciami z tablicy zajecia. Następnie definiowana jest funkcja lista_zajec_z_dnia(), która dzięki użyciu funkcji len() (zwraca ona ilość elementów danego obiektu), po podaniu jako argumentu nazwy dnia tygodnia, zwraca liczbę odbywających się wtedy zajęć.

In [19]:
plan = dict(zip(dnityg, zajecia))
#print(plan)
def lista_zajec_z_dnia(dzien_tygodnia):
  ile_zajec = len(plan[dzien_tygodnia])
  return int(ile_zajec)

#print(lista_zajec_z_dnia("Pon"))
dzien = "Pio"
print(("{} ma {} zajęć").format(dzien,lista_zajec_z_dnia(dzien)))

Pio ma 4 zajęć

**Zadanie 2b** - posortuj dni po najbardziej zajętych

Została wykorzystana funkcja sorted(), zwracająca posortowane elementy parametru iterable. Aby były one posortowane malejąco, parametr reversed musi przyjąć wartość "True".

In [20]:
print("Dni tygodnia posortowane po ilości odbywających się w nich zajęć")
print(sorted(plan, key = lista_zajec_z_dnia, reverse = True))

Dni tygodnia posortowane po ilości odbywających się w nich zajęć
['Pio', 'Wto', 'Sro', 'Czwar', 'Pon']

### Zadanie 3

Napisz program, który znajdzie dzień z najwiekszą iloscia mispów.

W każdym z dni tygodnia jest znajdowana i zliczana ilość mispów w zmiennej count. Następnie do tablicy counting do każdego dnia tygodnia dodawana jest odpowiadająca mu ilość mispów. W ostatnim kroku, dzięki użyciu funkcji max(), podawany jest dzień z największą ilością mispów w tygodniu.

In [25]:
counting = []
for dzien_tyg in plan:
  #print(plan[dzien_tyg])
  count = 0
  for zajecia in plan[dzien_tyg]:
    count += zajecia.count('misp')
  #print(count)
  counting.append([dzien_tyg,count])
#print(counting)
def klucz(miejsce):
         return int(miejsce[1]) 
max = max(counting, key = klucz)
print("Dzień z największą ilością zajęć to {}, ilość zajęć to {}".format(max[0],max[1]))

Dzień z największą ilością zajęć to Pio, ilość zajęć to 3